.toolbar-section {
  background-color: lightgrey;
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 5px;
}
.toolbar-section button {
  margin: 5px;
}
.save-btn{
  margin: 30px;
  float: right;
  border: none;
  width: 80px;
  height: 30px;
  background-color: #21b15a;
  color: white;
  font-size: large;
  border-radius: 5%;
}
