.home-page-container{
  
}
.top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
}
.top-section div{

}
.top-section label{
margin-right: 5px;
}
.top-section input{
  border: none;  
  border-bottom: 1px solid;
}

.form-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}
.form-section div div{
  box-shadow: 10px 9px 10px -3px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
.form-section textarea{
  height: 150px;
border: none;

}
.form-section div span{
  opacity: 60%;
}
.sketch-section-header{
  margin: 50px;
}
.sketch-content{
  margin-left: 25px;
  margin-right: 25px;
}.save-btn{
  margin: 30px;
  float: right;
  border: none;
  width: 80px;
  height: 30px;
  background-color: #21b15a;
  color: white;
  font-size: large;
  border-radius: 5%;
}
