.request-card{
         background-color:#F8E8EE ;
          margin: 30px;
          padding: 15px;
          border-radius: 15px;
          display: flex;
justify-content: space-between;
}
.card-from-sections div{
       align-items: center;
       display: flex;
       flex-direction: row;
}
.card-from-sections label{
          margin-right: 10px;
          width: 100px;   
}
.card-from-sections p{
          color:#686D76 ;
}
.request-detail-btn{
          width: 100px;
          height: 30px;
          background-color:#ffa07a ;
          border: none;
          border-radius: 5px;
          margin-top: 30px;
}.request-detail-btn:hover{
       cursor: pointer;
}